.boximages {
    display: flex;
    justify-content: space-between;

}

.cardbox {
    padding: 0 10px;
}
.cardbox .card{
    background-color: #f9f9f9;
    text-align: center;
    padding: 40px ;

    box-sizing: border-box;
}