.table-container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.first-column {
  width: 160px;
}

.modal-body {
  padding: 30px;
}

.navbar.menu-actions,
.navbar.menu-actions > .container-fluid{
 padding: 0;
}

.navbar-collapse.collapsing,
.navbar-collapse.collapse.show{
padding-top: 20px;
}