.table-container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.modal-body {
  padding: 30px;
}
button{
  border-radius: 4px;
  padding: 6px 12px 6px 12px;
  border: 1px solid #212529;
}
button:hover{
  background-color:grey;
}