.container-fluid {
 padding: 10px 25px;
}

main
{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.buttonRow
{
    display: flex;
    justify-content: space-between;
}

.accountInfo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.accountInfo > label
{
    font-weight: bold;
}

.accountInfo > a
{
    color: red;
}

.accountInfo > a:hover
{
    color: rgb(255, 65, 65);
}

.