@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

html, body
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
}

body
{
    background: url("../images/cardiff.jpg") no-repeat center center fixed;
    background-size: cover;
}

#logo
{
    height: 80px;
    width: 80px;
}

#logoContainer
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: #ce0539;
    gap: 5px;
}

#labelContainer
{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

#rowOfButtons
{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

.card
{
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#logInForm
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 10px;
}

#logInForm > img
{
    align-self: flex-start;
}

#logInForm > input
{
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    font-family: inherit;
    border: 2px solid lightgray;

}

button, input[type=submit]
{
    font-size: 1rem;
    padding: 10px;
    width: 100%;
    background-color: #ce0539;
    color: white;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
}

.error
{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: #ce0539;
    border-radius: 5px;
}

.secondary
{
    background-color: rgb(233, 233, 233);
    color: black;
}

#logInForm > h3
{
    margin: 0;
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 10px;
}