.container-fluid {
 padding: 10px 25px;
}

main
{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-height: calc(90vh - 106px);
}

.inputError
{
    margin-top: 5px;
    color: darkred;
    display: none;
}

.noClick
{
    opacity: 0.5;
    pointer-events: none;
}

.buttonRow
{
    display: flex;
    justify-content: space-between;
}

.accountInfo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sensitive
{
    color: transparent;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.accountInfo > label
{
    font-weight: bold;
}

.accountInfo > a
{
    color: red;
}

.btn > img
{
    width: 16px;
}

.accountInfo > a:hover
{
    color: rgb(255, 65, 65);
}

label[id="username"] {
     margin: 0;
}

.footer-container{
    height: 10%;
    text-align: center;
    padding: 15px;
    background-color: #d73648;
    color: white;
}
