<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="template :: header"></div>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../css/datepicker.css">
    <link rel="stylesheet" href="../css/validation.css">
    <link rel="stylesheet" href="applications.css">
</head>
<body>
<!-- Navigation bar -->
<nav th:replace="template :: navbar('applications')"></nav>
<!-- Main page -->
<main>
    <div class="navbar navbar-expand-md menu-actions">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item me-2">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#addApplicationModal">
                            Add application
                        </button>
                    </li>
                    <li class="nav-item me-2">
                        <a th:href="@{/deleteAllApplications}" class="btn btn-dark" >
                            Delete all
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Import / Export data
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" data-bs-toggle="modal"
                                   data-bs-target="#uploadDataModal">Import Excel <i
                                    class="fa-solid fa-upload"></i></a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" th:href="@{/exportApplications}">Export Excel <i
                                    class="fa-solid fa-download"></i></a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" id="search" placeholder="Search by Student No"
                           aria-label="Search" name="keyword" autocomplete="off" required>
                    <button class="btn btn-dark me-2" type="submit">Search</button>
                    <a href="/applications" class="btn btn-outline-dark">Show all</a>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive the-table table-container mt-5">
        <table class="table table-hover table-fixed table-hv">
            <thead class="table-light">
            <tr>
                <th scope="col"></th>
                <th scope="col">UCAS Cardiff Course</th>
                <th scope="col">Cardiff Course Code</th>
                <th scope="col">Record First Created</th>
                <th scope="col">Entry Year</th>
                <th scope="col">Student No</th>
                <th scope="col">Personal Id</th>
                <th scope="col">Application Status Code</th>
                <th scope="col">Lastest Decision Code (CAP)</th>
                <th scope="col">First Forename</th>
                <th scope="col">Surname</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Gender</th>
                <th scope="col">Fee Status</th>
                <th scope="col">Correspondence Lang Welsh?</th>
                <th scope="col">Welsh Speaker Indicator</th>
                <th scope="col">Country of domicile</th>
                <th scope="col">Nationality</th>
                <th scope="col">Home Email</th>
                <th scope="col">Date received from ADMIS</th>
                <th scope="col">Contextual Flag?</th>
                <th scope="col">Application Status in HCARE Admissions Office</th>
                <th scope="col">Application Status Comments</th>
                <th scope="col">Fee Status Comments</th>
                <th scope="col">Highest Level Qualification</th>
                <th scope="col">Grades achieved</th>
                <th scope="col">Keeping Warm Email Sent?</th>
                <th scope="col">Total Personal Statement Score</th>
                <th scope="col">Invite to Interview Sent?</th>
                <th scope="col">Interview Date</th>
                <th scope="col">Interview Invite Comments</th>
                <th scope="col">Total Interview Score</th>
                <th scope="col">FTP Checked</th>
                <th scope="col">Offer Conditions</th>
                <th scope="col">Non-standard Quals chaser email</th>
                <th scope="col">Confirmation Comments</th>
                <th scope="col">Offer Email Sent</th>
                <th scope="col">Issue Date</th>
                <th scope="col">DBS Cert Number</th>
                <th scope="col">FA Status</th>
                <th scope="col">Update Service</th>
                <th scope="col">Essential to Dos</th>
                <th scope="col">Enrolment Criteria Comments</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="applicationItem : ${listApplications}">
                <td>
                    <div class="d-flex">
                        <a th:href="@{/getStudentApplication/{id}(id=${applicationItem.id})}"
                           class="btn btn-outline-dark me-1"><i class="fa-solid fa-pen"></i></a>
                        <a th:href="@{/deleteStudentApplication/{id}(id=${applicationItem.id})}"
                           class="btn btn-outline-dark me-1"><i class="fa-regular fa-trash-can"></i></a>
                        <a th:href="@{/getStudentApplicationStatus/{id}(id=${applicationItem.id})}"
                           class="btn btn-outline-dark me-1 edit-status" >Change Status</a>
                    </div>
                </td>
                <td th:text="${applicationItem.ucasCode}"></td>
                <td th:text="${applicationItem.courseCode}"></td>
                <td th:text="${applicationItem.firstCreated}"></td>
                <td th:text="${applicationItem.entryYear}"></td>
                <td th:text="${applicationItem.studentNumber}"></td>
                <td th:text="${applicationItem.personalId}"></td>
                <td th:text="${applicationItem.statusCode}"></td>
                <td th:text="${applicationItem.latestDecision}"></td>
                <td th:text="${applicationItem.name}"></td>
                <td th:text="${applicationItem.surname}"></td>
                <td th:text="${applicationItem.dateOfBirth}"></td>
                <td th:text="${applicationItem.gender}"></td>
                <td th:text="${applicationItem.feeStatus}"></td>
                <td th:text="${applicationItem.correspondenceLang}"></td>
                <td th:text="${applicationItem.welshSpeaker}"></td>
                <td th:text="${applicationItem.country}"></td>
                <td th:text="${applicationItem.nationality}"></td>
                <td th:text="${applicationItem.email}"></td>
                <td th:text="${applicationItem.dateReceived}"></td>
                <td th:text="${applicationItem.contextual}"></td>
                <td th:text="${applicationItem.displayApplicationStatus()}"></td>
                <td th:text="${applicationItem.applicationStatusComments}"></td>
                <td th:text="${applicationItem.feeStatusComments}"></td>
                <td th:text="${applicationItem.highestQualification}"></td>
                <td th:text="${applicationItem.gradesAchieved}"></td>
                <td th:text="${applicationItem.keepEmailSent}"></td>
                <td th:text="${applicationItem.personalStatementScore}"></td>
                <td th:text="${applicationItem.inviteToInterview}"></td>
                <td th:text="${applicationItem.interviewDate}"></td>
                <td th:text="${applicationItem.interviewComments}"></td>
                <td th:text="${applicationItem.interviewScore}"></td>
                <td th:text="${applicationItem.ftpChecked}"></td>
                <td th:text="${applicationItem.offerConditions}"></td>
                <td th:text="${applicationItem.nonStandardEmail}"></td>
                <td th:text="${applicationItem.confirmationComments}"></td>
                <td th:text="${applicationItem.offerEmailSent}"></td>
                <td th:text="${applicationItem.issueDate}"></td>
                <td th:text="${applicationItem.dbsCertNumber}"></td>
                <td th:text="${applicationItem.faStatus}"></td>
                <td th:text="${applicationItem.updateService}"></td>
                <td th:text="${applicationItem.essentialToDos}"></td>
                <td th:text="${applicationItem.enrolmentCriteriaComments}"></td>
            </tr>
            </tbody>
        </table>

        <div th:if = "${applicationTotalPages > 1}">
            <div class = "row col-sm-10">
                <div class = "col-sm-2">
                    Total Rows: [[${applicationTotalItems}]]
                </div>

                <div class = "col-sm-1">
                    <span th:each="i: ${#numbers.sequence(1, applicationTotalPages)}">
                        <a th:if="${currentApplicationPage != i}" th:href="@{'/applicationPage/' + ${i}}">[[${i}]]</a>
                        <span th:unless="${currentApplicationPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
                </div>

                <div class = "col-sm-1">
                    <a th:if="${currentApplicationPage < applicationTotalPages}" th:href="@{'/applicationPage/' + ${currentApplicationPage + 1}}">NEXT</a>
                    <span th:unless="${currentApplicationPage < applicationTotalPages}">NEXT</span>
                </div>

                <div class = "col-sm-1">
                    <a th:if="${currentApplicationPage < applicationTotalPages}" th:href="@{'/applicationPage/' + ${applicationTotalPages}}">LAST</a>
                    <span th:unless="${currentApplicationPage < applicationTotalPages}">LAST</span>
                </div>
            </div>
        </div>

    </div>
    <!-- Modal -->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="addApplicationModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalLabel">Add application</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/addApplication}" th:object="${newApplication}" method="post"
                          class="form application-needs-validation" novalidate>
                        <div>
                            <div class="mb-3">
                                <label for="ucasCode" class="form-label">Input UCAS Cardiff course: <i
                                        class="fa-solid fa-star-of-life"></i></label>
                                <input type="text" autocomplete="off" class="form-control" id="ucasCode"
                                       field="*{ucasCode}"
                                       name="ucasCode" required>
                                <div class="invalid-feedback">
                                    This field is required.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="courseCode" class="form-label">Input Cardiff course code: <i
                                        class="fa-solid fa-star-of-life"></i></label>
                                <input type="text" autocomplete="off" class="form-control" id="courseCode"
                                       field="*{courseCode}"
                                       name="courseCode" required>
                                <div class="invalid-feedback">
                                    This field is required.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="firstCreated" class="form-label">Input when record was first
                                    created:</label>
                                <input type="text" autocomplete="off" data-provide="datepicker" id="firstCreated"
                                       class="form-control datepicker"
                                       field="*{firstCreated}" name="firstCreated" data-date-end-date="0d">
                            </div>
                            <div class="mb-3">
                                <label for="entryYear" class="form-label">Input entry year: <i
                                        class="fa-solid fa-star-of-life"></i></label>
                                <input type="text" autocomplete="off" class="form-control" id="entryYear"
                                       field="*{entryYear}"
                                       name="entryYear" placeholder="Example: 22/23" required>
                                <div class="invalid-feedback">
                                    Please input valid entry year.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="studentNumber" class="form-label">Input student number: <i
                                        class="fa-solid fa-star-of-life"></i></label>
                                <input type="text" autocomplete="off" class="form-control" id="studentNumber"
                                       field="*{studentNumber}"
                                       name="studentNumber" required>
                                <div class="invalid-feedback">
                                    This field is required.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="personalId" class="form-label">Input personal Id: <i
                                        class="fa-solid fa-star-of-life"></i></label>
                                <input type="text" autocomplete="off" class="form-control" id="personalId"
                                       field="*{personalId}"
                                       name="personalId" required>
                                <div class="invalid-feedback">
                                    This field is required.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="statusCode" class="form-label">Input application status code:</label>
                                <input type="text" autocomplete="off" class="form-control" id="statusCode"
                                       field="*{statusCode}"
                                       name="statusCode">
                            </div>
                            <div class="mb-3">
                                <label for="latestDecision" class="form-label">Input latest decision Code (CAP):</label>
                                <input type="text" autocomplete="off" class="form-control" id="latestDecision"
                                       field="*{latestDecision}"
                                       name="latestDecision">
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Input first forename:</label>
                                <input type="text" autocomplete="off" class="form-control" id="name" field="*{name}"
                                       name="name">
                            </div>
                            <div class="mb-3">
                                <label for="surname" class="form-label">Input surname:</label>
                                <input type="text" autocomplete="off" class="form-control" id="surname"
                                       field="*{surname}" name="surname">
                            </div>
                            <div class="mb-3">
                                <label for="dateOfBirth" class="form-label">Input date of birth:</label>
                                <input type="text" autocomplete="off" data-provide="datepicker" id="dateOfBirth"
                                       class="form-control datepicker"
                                       field="*{dateOfBirth}" name="dateOfBirth" data-date-end-date="0d" placeholder="DD.MM.YYYY">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Input gender:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="gender1"
                                           field="*{gender}" value="male">
                                    <label class="form-check-label" for="gender1"> Male </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="gender2"
                                           field="*{gender}" value="female">
                                    <label class="form-check-label" for="gender2"> Female </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="gender3"
                                           field="*{gender}" value="other">
                                    <label class="form-check-label" for="gender3"> Other </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="feeStatus" class="form-label">Input fee status:</label>
                                <input type="text" autocomplete="off" class="form-control" id="feeStatus"
                                       field="*{feeStatus}"
                                       name="feeStatus">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Correspondence Lang Welsh?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="correspondenceLang"
                                           id="correspondenceLang1" field="*{correspondenceLang}" value="yes">
                                    <label class="form-check-label" for="correspondenceLang1"> Yes </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="correspondenceLang"
                                           id="correspondenceLang2" field="*{correspondenceLang}" value="no" checked>
                                    <label class="form-check-label" for="correspondenceLang2"> No </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Welsh speaker?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="welshSpeaker" id="welshSpeaker1"
                                           field="*{welshSpeaker}" value="yes">
                                    <label class="form-check-label" for="welshSpeaker1"> Yes </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="welshSpeaker" id="welshSpeaker2"
                                           field="*{welshSpeaker}" value="no" checked>
                                    <label class="form-check-label" for="welshSpeaker2"> No </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="country" class="form-label">Input country of domicile:</label>
                                <input type="text" autocomplete="off" class="form-control" id="country"
                                       field="*{country}" name="country">
                            </div>
                            <div class="mb-3">
                                <label for="nationality" class="form-label">Input nationality:</label>
                                <input type="text" autocomplete="off" class="form-control" id="nationality"
                                       field="*{nationality}"
                                       name="nationality">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Input home email:</label>
                                <input type="email" class="form-control" id="email" field="*{email}" name="email">
                                <div class="invalid-feedback">
                                    Please input valid email.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="dateReceived" class="form-label">Date received from ADMIS:</label>
                                <input type="text" autocomplete="off" data-provide="datepicker" id="dateReceived"
                                       class="form-control datepicker"
                                       field="*{dateReceived}" name="dateReceived" data-date-end-date="0d"  placeholder="DD.MM.YYYY">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Contextual flag?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="contextual" id="contextual1"
                                           field="*{contextual}" value="yes">
                                    <label class="form-check-label" for="contextual1"> Yes </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="contextual" id="contextual2"
                                           field="*{contextual}" value="no" checked>
                                    <label class="form-check-label" for="contextual2"> No </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Choose application status in HCARE Admissions Office:</label>
                                <ul class="application-status">
                                    <li th:each="status : ${applicationStatusList}" class="application-status-item">
                                        <input class="form-check-input" type="checkbox" field="*{applicationStatus}"
                                               th:value="${status}" name="applicationStatus">
                                        <label th:text="${status}"></label>
                                </ul>
                            </div>
                            <div class="mb-3">
                                <label for="applicationStatusComments" class="form-label">Input application status
                                    comments:</label>
                                <input type="text" autocomplete="off" class="form-control"
                                       id="applicationStatusComments"
                                       field="*{applicationStatusComments}" name="applicationStatusComments">
                            </div>
                            <div class="mb-3">
                                <label for="feeStatusComments" class="form-label">Input fee status comments:</label>
                                <input type="text" autocomplete="off" class="form-control" id="feeStatusComments"
                                       field="*{feeStatusComments}"
                                       name="feeStatusComments">
                            </div>
                            <div class="mb-3">
                                <label for="highestQualification" class="form-label">Input highest level qualification
                                    (Pending/Awarded):</label>
                                <input type="text" autocomplete="off" class="form-control" id="highestQualification"
                                       field="*{highestQualification}" name="highestQualification">
                            </div>
                            <div class="mb-3">
                                <label for="gradesAchieved" class="form-label">Input grades achieved:</label>
                                <input type="text" autocomplete="off" class="form-control" id="gradesAchieved"
                                       field="*{gradesAchieved}"
                                       name="gradesAchieved">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Keeping warm email sent?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="keepEmailSent"
                                           id="keepEmailSent1"
                                           field="*{keepEmailSent}" value="yes">
                                    <label class="form-check-label" for="keepEmailSent1"> Yes </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="keepEmailSent"
                                           id="keepEmailSent2"
                                           field="*{keepEmailSent}" value="no" checked>
                                    <label class="form-check-label" for="keepEmailSent2"> No </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="personalStatementScore" class="form-label">Input total personal statement
                                    score
                                    (if applicable):</label>
                                <input type="text" autocomplete="off" class="form-control" id="personalStatementScore"
                                       field="*{personalStatementScore}" name="personalStatementScore">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Invite to interview sent?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="inviteToInterview"
                                           id="inviteToInterview1" field="*{inviteToInterview}" value="yes">
                                    <label class="form-check-label" for="inviteToInterview1"> Yes </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="inviteToInterview"
                                           id="inviteToInterview2" field="*{inviteToInterview}" value="no" checked>
                                    <label class="form-check-label" for="inviteToInterview2"> No </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="interviewDate" class="form-label">Input interview date:</label>
                                <input type="text" autocomplete="off" data-provide="datepicker" id="interviewDate"
                                       class="form-control datepicker"
                                       field="*{interviewDate}" name="interviewDate"  placeholder="DD.MM.YYYY">
                            </div>
                            <div class="mb-3">
                                <label for="interviewComments" class="form-label">Input interview invite
                                    comments:</label>
                                <input type="text" autocomplete="off" class="form-control" id="interviewComments"
                                       field="*{interviewComments}"
                                       name="interviewComments">
                            </div>
                            <div class="mb-3">
                                <label for="interviewScore" class="form-label">Input total interview score:</label>
                                <input type="text" autocomplete="off" class="form-control" id="interviewScore"
                                       field="*{interviewScore}"
                                       name="interviewScore">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">FTP Checked?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ftpChecked" id="ftpChecked1"
                                           field="*{ftpChecked}" value="yes">
                                    <label class="form-check-label" for="ftpChecked1"> Yes </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ftpChecked" id="ftpChecked2"
                                           field="*{ftpChecked}" value="no" checked>
                                    <label class="form-check-label" for="ftpChecked2"> No </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="offerConditions" class="form-label">Input offer conditions:</label>
                                <input type="text" autocomplete="off" class="form-control" id="offerConditions"
                                       field="*{offerConditions}"
                                       name="offerConditions">
                            </div>
                            <div class="mb-3">
                                <label for="nonStandardEmail" class="form-label">Non-standard Quals chaser
                                    email:</label>
                                <input type="text" autocomplete="off" class="form-control" id="nonStandardEmail"
                                       field="*{nonStandardEmail}"
                                       name="nonStandardEmail">
                            </div>
                            <div class="mb-3">
                                <label for="confirmationComments" class="form-label">Input confirmation
                                    comments:</label>
                                <input type="text" autocomplete="off" class="form-control" id="confirmationComments"
                                       field="*{confirmationComments}" name="confirmationComments">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Offer Email Sent?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="offerEmailSent"
                                           id="offerEmailSent1"
                                           field="*{offerEmailSent}" value="yes">
                                    <label class="form-check-label" for="offerEmailSent1"> Yes </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="offerEmailSent"
                                           id="offerEmailSent2"
                                           field="*{offerEmailSent}" value="no"
                                           checked>
                                    <label class="form-check-label" for="offerEmailSent2"> No </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="issueDate" class="form-label">Input issue date:</label>
                                <input type="text" autocomplete="off" data-provide="datepicker" id="issueDate"
                                       class="form-control datepicker"
                                       field="*{issueDate}" name="issueDate" data-date-end-date="0d" placeholder="DD.MM.YYYY">
                            </div>
                            <div class="mb-3">
                                <label for="dbsCertNumber" class="form-label">Input DBS certificate number:</label>
                                <input type="text" autocomplete="off" class="form-control" id="dbsCertNumber"
                                       field="*{dbsCertNumber}"
                                       name="dbsCertNumber">
                            </div>
                            <div class="mb-3">
                                <label for="faStatus" class="form-label">Input FA status (In progress/Complete
                                    etc?):</label>
                                <input type="text" autocomplete="off" class="form-control" id="faStatus"
                                       field="*{faStatus}"
                                       name="faStatus">
                            </div>
                            <div class="mb-3">
                                <label for="updateService" class="form-label">Update Service:</label>
                                <input type="text" autocomplete="off" class="form-control" id="updateService"
                                       field="*{updateService}"
                                       name="updateService">
                            </div>
                            <div class="mb-3">
                                <label for="essentialToDos" class="form-label">Essential to Dos:</label>
                                <input type="text" autocomplete="off" class="form-control" id="essentialToDos"
                                       field="*{essentialToDos}"
                                       name="essentialToDos">
                            </div>
                            <div class="mb-3">
                                <label for="enrolmentCriteriaComments" class="form-label">Input enrolment criteria
                                    comments:</label>
                                <input type="text" autocomplete="off" class="form-control"
                                       id="enrolmentCriteriaComments"
                                       field="*{enrolmentCriteriaComments}" name="enrolmentCriteriaComments">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger submit-button">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Change Status Modal -->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="changeStatusModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Change Status</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Choose application status in HCARE Admissions Office:</label>
                        <ul class="application-status">
                            <li th:each="status : ${applicationStatusList}" class="application-status-item">
                                <input class="form-check-input" type="checkbox" field="*{applicationStatus}"
                                       th:value="${status}" name="applicationStatus">
                                <label th:text="${status}"></label>
                        </ul>
                    </div>
                    <button class="btn btn-danger">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Upload Data Modal -->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="uploadDataModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalLabel1">Import data</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/importApplications}" enctype="multipart/form-data" method="post">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Select .xlsx file from your computer:</label>
                            <input class="form-control" type="file" name = "file" id="formFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required>
                        </div>
                        <input type = "submit" value = "Import" class="btn btn-danger"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="../Javascript/datepicker.js"></script>
<script src="../Javascript/formValidation.js"></script>
</body>
</html>