<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="template :: header"></div>
    <link rel="stylesheet" th:href="@{homepage.css}">
</head>
<style>
    .card{
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12)
    }
    .headerFont{
        font-family: franklin_gothic_fs_medregular,Arial,Helvetica Neue,sans-serif
    }


</style>
<body>
<!-- Navigation bar -->
<nav th:replace="template :: navbar('home')"></nav>
<!-- Main content -->
<main>
    <h1 class="text-center headerFont fw-bold mb-5">
        <p class="text-danger">Welcome to RECRUITMENT AND ADMISSIONS APPLICATION</p>
        <small class="text-muted">for the School of Healthcare Sciences</small>
    </h1>

    <hr class="border border-secondary border-1 opacity-50">

    <h3 class="mb-1" style="font-family: franklin_gothic_fs_bookRg,Arial,Helvetica Neue,sans-serif">
        Current Statistics:
    </h3>

    <div class="row boximages">
        <div class="col-sm-4 cardbox">
            <div class="card">
                <div class="image-container">
                    <img th:src="@{images/application_card.png}" width="100px" alt="card1">
                </div>
                <div class="card-body">
                    <div class="card-info">
                        <h5 class="card-title">Amount of Applications</h5>
                        <p class="card-text">Number of the student's applications we have received:</p>
                        <p class="card-text fw-bold" th:text="${amountOfApplications}"></p>
                    </div>
                    <a href="/applications" class="btn btn-danger">View Details</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 cardbox">
            <div class="card">
                <div class="image-container">
                    <img th:src="@{images/offer_card.png}" width="100px" alt="card2">
                </div>
                <div class="card-body">
                    <div class="card-info">
                        <h5 class="card-title">Amount of Offers</h5>
                        <p class="card-text ">Number of the offers we have made for students:</p>
                        <p class="card-text fw-bold" th:text="${amountOfOffers}"></p>
                    </div>
                    <a href="/applications" class="btn btn-danger">View Details</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 cardbox">
            <div class="card">
                <div class="image-container">
                    <img th:src="@{images/place_card.png}" width="100px" alt="card3">
                </div>
                <div class="card-body">
                    <div class="card-info">
                        <h5 class="card-title">Amount of Places</h5>
                        <p class="card-text">Number of funded places we can offer students:</p>
                        <p class="card-text fw-bold" th:text="${amountOfPlace} ?: 'No Update'"></p>
                    </div>
                    <!--Current year places-->
                    <a href="/statistics" class="btn btn-danger">View Details</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="mb-2 mt-4" style="font-family: franklin_gothic_fs_bookRg,Arial,Helvetica Neue,sans-serif">
        Bar Chart:
    </h2>
    <div class="container">
        <div id="barchartContainer" style="width: 100% ;height:600px;margin:0 auto"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script th:inline="javascript">
        $(function (){
            Highcharts.chart('barchartContainer',{
                chart:{
                    type:'column'
                },
                title:{
                    text: 'Statistics from previous years',
                },
                xAxis:{
                    categories:[[${dataNames}]],
                    crosshair:true
                },
                yAxix:{
                    min:0,
                    max:150,
                    title:{
                        text:'Statistics rating [in %]'
                    }
                },
                tooltip:{
                    headerFormat:'<span style="font-size:16px font-weight:500">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}:</td>' +
                        '<td style="padding:0"><b>{point.y:.0f} applications</b></td></tr>',
                    footerFormat:'</table>',
                    shared: true,
                    useHTML:true
                },
                credits: {
                    enabled: false
                },
                plotOptions:{
                    column:{
                        pointPadding:0.2,
                        borderWidth:0
                    }
                },
                series: [
                    {
                        name: "funded places",
                        data:[[${dataPlaces}]],
                        color: "#dc3545",
                    },
                    {
                        name: "offer taken",
                        data:[[${dataOffers}]],
                        color: "#C0C0C0"
                    }
                ]
            });
        });


    </script>

    <h2 class="mb-2" style="font-family: franklin_gothic_fs_bookRg,Arial,Helvetica Neue,sans-serif">
        Prediction for upcoming year:
    </h2>
    <div class="boximages2">

        <div class="col-sm-4 cardbox">
            <div class="card">
                <div class="image-container">
                    <img th:src="@{images/place_card.png}" width="100px" alt="card4">
                </div>
                <div class="card-body">
                    <div class="card-info">
                        <h5 class="card-title">Prediction of Places</h5>
                        <p class="card-text">Number of funded places predicted for upcoming year:</p>
                        <p class="card-text fw-bold" th:text="${predictPlaces}"></p>
                    </div>
                    <!--Next year places-->
                    <a href="/statistics" class="btn btn-danger">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 cardbox">
            <div class="card">
                <div class="image-container">
                    <img th:src="@{images/offer_card.png}" width="100px" alt="card5">
                </div>
                <div class="card-body">
                    <div class="card-info">
                        <h5 class="card-title">Predication of Offers</h5>
                        <p class="card-text ">Number of the offers predicted for upcoming year:</p>
                        <p class="card-text fw-bold" th:text="${predictOffers}"></p>
                    </div>
                    <a href="/statistics" class="btn btn-danger">View Details</a>
                </div>

            </div>
        </div>


    </div>


    <hr class="border border-secondary border-1 opacity-50"><br><br>



</main>

<footer th:fragment="footer">
    <div class="footer-container">
        2022 - ©️ Team 7<br>
        MSc SE - Recruitment and Admissions
    </div>
</footer>

</body>
</html>