<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="template :: header"></div>
    <link rel="stylesheet" th:href="@{homepage.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<!-- Navigation bar -->
<nav th:replace="template :: navbar('home')"></nav>
<!-- Main content -->
<main>
    <h1 class="text-center" >
        <p class="text-danger">WELCOME to Recruitment and Admissions Application</p>
        <small class="text-muted">for the School of Healthcare Sciences</small>
    </h1>

    <h2>
        The Current Statistics ->>
    </h2>

    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img th:src="@{applicationcard.png}" width="100px" alt="card1">
                <div class="card-body">
                    <h5 class="card-title">Amount of Applications</h5>
                    <p class="card-text">The number of the students' applications we have received are:</p>
                    <p class="card-text" th:text="${amountOfApplications}"></p>
                    <a href="#" class="btn btn-danger">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img th:src="@{offercard.png}" width="100px" alt="card2">
                <div class="card-body">
                    <h5 class="card-title">Amount of Offers</h5>
                    <p class="card-text">The number of the students' offers we have accepted are:</p>
                    <p class="card-text" th:text="${amountOfOffers}"></p>
                    <a href="#" class="btn btn-danger">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img th:src="@{placecard.png}" width="100px" alt="card3">
                <div class="card-body">
                    <h5 class="card-title">Amount of Places</h5>
                    <p class="card-text">We have <mark>(number)</mark> funded places in this current year.</p>
                    <a href="#" class="btn btn-danger">View Details</a>
                </div>
            </div>
        </div>
    </div>

</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>