<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="template :: header"></head>
  <body>
    <!-- Navigation bar -->
    <nav th:insert="template :: navbar('settings')"></nav>
    <!-- Main page -->
    <main>
      <h3>Settings</h3>
      <div class="card" style="width: 18rem;">
        <img th:src="@{/users.svg}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Accounts</h5>
          <p class="card-text">Add, delete and edit user accounts and permissions</p>
          <a href="accounts" class="btn btn-danger">Account settings</a>
        </div>
      </div>
    </main>
  </body>