<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="template :: header"></div>
    <link rel="stylesheet" href="../statistics.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/validation.css">
</head>

<style>
    footer {
        width: 100%;
        height: 100px;
        position: absolute;
        bottom:0;
        left: 0;
        text-align: center;
        padding: 3px;
        background-color: #d73648;
        color: white;

    }

</style>

<body>
<!-- Navigation bar -->
<nav th:replace="template :: navbar('statistics')"></nav>
<!-- Main content -->
<main>
    <div class="navbar navbar-expand-md menu-actions">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item me-2">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#addStatisticsModal">
                            Add data
                        </button>
                    </li>
                    <li class="nav-item me-2">
                        <a th:href="@{/deleteAllStatistics}" class="btn btn-dark" >
                            Delete all
                        </a>
                    </li>
                </ul>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Import / Export data
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-bs-toggle="modal"
                               data-bs-target="#uploadDataModal">Import Excel <i
                                class="fa-solid fa-upload"></i></a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" th:href="@{/exportStatistics}">Export Excel <i
                                class="fa-solid fa-download"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive the-table mt-5">
        <table class="table table-hover table-container">
            <thead class="table-light">
            <tr>
                <th scope="col" class="first-column"></th>
                <th scope="col">
                    <a th:href="@{'/statisticPage/' + ${currentStatisticPage} + '?statisticSortField=studyYear&statisticSortDir=' + ${reverseStatisticSortDir}}">
                        Year</a>
                </th>
                <th scope="col">Places</th>
                <th scope="col">Offers</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="statisticsItem : ${listStatistics}">
                <td>
                    <a th:href="@{/getStatistics/{id}(id=${statisticsItem.id})}"
                            class="btn btn-outline-dark me-1"><i class="fa-solid fa-pen"></i></a>
                    <a th:href="@{/deleteStatistics/{id}(id=${statisticsItem.id})}" class="btn btn-outline-dark me-1"><i class="fa-regular fa-trash-can"></i></a>
                </td>
                <td th:text="${statisticsItem.studyYear}"></td>
                <td th:text="${statisticsItem.places}"></td>
                <td th:text="${statisticsItem.offers}"></td>
            </tr>
            </tbody>
        </table>


        <div th:if = "${statisticTotalPages > 1}">
            <div class = "row col-sm-10 justify-content-end">
                <div class = "col-sm-2">
                    Total Rows: [[${statisticTotalItems}]]
                </div>

                <div class = "col-sm-1">
                    <span th:each="i: ${#numbers.sequence(1, statisticTotalPages)}">
                        <a th:if="${currentStatisticPage != i}" th:href="@{'/statisticPage/' + ${i} + '?statisticSortField=' + ${statisticSortField} + '&statisticSortDir=' + ${statisticSortDir}}">[[${i}]]</a>
                        <span th:unless="${currentStatisticPage != i}">[[${i}]]</span> &nbsp;&nbsp;
                    </span>
                </div>

                <div class = "col-sm-1">
                    <a th:if="${currentStatisticPage < statisticTotalPages}" th:href="@{'/statisticPage/' + ${currentStatisticPage + 1} + '?statisticSortField=' + ${statisticSortField} + '&statisticSortDir=' + ${statisticSortDir}}">NEXT</a>
                    <span th:unless="${currentStatisticPage < statisticTotalPages}">NEXT</span>
                </div>

                <div class = "col-sm-1">
                    <a th:if="${currentStatisticPage < statisticTotalPages}" th:href="@{'/statisticPage/' + ${statisticTotalPages} + '?statisticSortField=' + ${statisticSortField} + '&statisticSortDir=' + ${statisticSortDir}}">LAST</a>
                    <span th:unless="${currentStatisticPage < statisticTotalPages}">LAST</span>
                </div>
            </div>
        </div>


    </div>
    <!-- Add Statistics Modal -->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="addStatisticsModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalLabel">Add data</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/addStatistics}" th:object="${statisticsItem}" method="post" class="statistics-needs-validation" novalidate>
                        <div class="mb-3">
                            <label for="year" class="form-label">Input study year: <i
                                    class="fa-solid fa-star-of-life"></i></label>
                            <input type="text" class="form-control" id="year" aria-describedby="year"
                                   placeholder="Example: 22/23" field="*{studyYear}" name="studyYear" autocomplete="off" required>
                            <div class="invalid-feedback">
                                Please input valid study year.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="places" class="form-label">Input number of funded places: <i
                                    class="fa-solid fa-star-of-life"></i></label>
                            <input type="text" class="form-control" id="places" field="*{places}" name="places" autocomplete="off" required>
                            <div class="invalid-feedback">
                                This field is required.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="offers" class="form-label">Input number of offers made: <i
                                    class="fa-solid fa-star-of-life"></i></label>
                            <input type="text" class="form-control" id="offers" field="*{places}" name="offers" autocomplete="off" required>
                            <div class="invalid-feedback">
                                This field is required.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Upload Data Modal -->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="uploadDataModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalLabel1">Import data</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/importStatistics}" enctype="multipart/form-data" method="post">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Select .xlsx file from your computer:</label>
                            <input class="form-control" type="file" name = "file" id="formFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required>
                        </div>
                        <input type = "submit" value = "Import" class="btn btn-danger"/>
                    </form>
                </div>
            </div>
        </div>
    </div>


</main>

<footer>
    <p>2022 - ©️ Team 7<br>
        MSc SE - Recruitment and Admissions </a></p>
</footer>

<script src="../Javascript/formValidation.js"></script>
</body>
</html>