<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="template :: header"></div>
    <link rel="stylesheet" href="../updateApplicationStatus.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="../css/datepicker.css">
    <link rel="stylesheet" href="../css/validation.css">
</head>
<body>
<!-- Navigation bar -->
<nav th:replace="template :: navbar('applications')"></nav>
<!-- Main page -->
<main>
    <!-- New Modal -->
    <div class="card w-75 card-hv">
        <div class="card-header">
            Edit Application Status
        </div>
        <div class="card-body">
            <h5 class="card-title">Update application status here:</h5>
            <form th:action="@{/updateStudentApplicationStatus/{id}(id=${updateApplication.id})}" th:object="${newApplication}" method="post" class="form application-needs-validation">
                <div>

                   <div class="mb-3">
                        <label class="form-label">Choose application status in HCARE Admissions Office:</label>
                        <ul class="application-status">
                            <li th:each="status : ${applicationStatusList}" class="application-status-item">
                                <input class="form-check-input" type="checkbox" field="*{applicationStatus}"
                                       th:value="${status}" name="applicationStatus"  th:checked="${updateApplication.getApplicationStatus()?.contains(status)}">
                                <label th:text="${status}"></label>
                        </ul>
                    </div>

                </div>
                <a href="/applications" class="btn btn-secondary submit-button">Back</a>
                <button type="submit" class="btn btn-danger submit-button">Update</button>
            </form>
        </div>
    </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="../Javascript/datepicker.js"></script>
<script src="../Javascript/formValidation.js"></script>
</body>
</html>